input,
textarea,
select {
  border-width: 1px !important;
  border-radius: 2px;
  background-color: white;
  color: #333333;
  -moz-appearance: none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  border-width: 1px !important;
  border-radius: 2px;
  background-color: #eeeeee;
  color: #333333;
  -moz-appearance: none;
}